* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}
:root {
  --primary-color:#edf2fc 
  --secondary-color:#212121
}
.dark{
  --primary-color: #000106;
  --secondary-color: #fff;
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mood {
  padding: 50px;
  font-size: 35px;
  cursor: pointer;
}
.mood i {
  margin-right: 30px;
}
.selector {
  width: 350px;

}
#selectText {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
li p {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
#selectField {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: var(--primary-color);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#selectField img {
  width: 15px;
  height: 15px;
}
#list {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 6px;
  overflow: hidden;
}
.options {
  position: relative;
  width: 100%;
  padding: 15px 0 15px 70px;
  list-style: none;
  box-sizing: border-box;
  cursor: pointer;
}
.options img {
  position: absolute;
  top: 12px;
  left: 25px;
  width: 25px;
}
.options:hover {
  background-color: var(--primary-color);
}
.hide {
  visibility: hidden;
}
.rotate {
  transform: rotate(180deg);
}
